[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Extension used allowing to manage wiki settings by wiki founders
[access "refs/*"]
	owner = group user/Paladox (paladox)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Paladox (paladox)
	label-Verified = -1..+1 group user/Paladox (paladox)
	push = group user/Paladox (paladox)
	read = group user/Paladox (paladox)
	rebase = group user/Paladox (paladox)
	removeReviewer = group user/Paladox (paladox)
	submit = group user/Paladox (paladox)
[access "refs/heads/*"]
	create = group user/Paladox (paladox)
	push = +force group user/Paladox (paladox)
	pushMerge = group user/Paladox (paladox)
	read = group user/Paladox (paladox)
[access "refs/tags/*"]
	push = group user/Paladox (paladox)
	push = +force group user/Paladox (paladox)
